<div title="${_("conletName")}"
  class="jdrupes-vmoperator-vmaccess jdrupes-vmoperator-vmaccess-edit"
  data-jgwc-on-load="orgJDrupesVmOperatorVmAccess.initEdit"
  data-jgwc-on-action="orgJDrupesVmOperatorVmAccess.applyEdit"    
  data-jgwc-on-unload="JGConsole.jgwc.unmountVueApps">
  <form :id="formId" ref="formDom" onsubmit="return false;">
    <section>
      <fieldset>
        <legend>{{ localize("Select VM or pool") }}</legend>
        <ul>
          <li>
            <label>
              <input v-model="resource" type="radio" name="resource" value="vm">
              <span>{{ localize("VM") }}</span>
              <select v-model="vmNameInput" :disabled="resource !== 'vm'">
              <#list vmNames as name>
                <option value="${name}">${name}</option>
              </#list>
              </select>
            </label>
          </li>
          <li>
            <label>
              <input v-model="resource" type="radio" name="resource" value="pool">
              <span>{{ localize("Pool") }}</span>
              <select v-model="poolNameInput" :disabled="resource !== 'pool'">
              <#list poolNames as name>
                <option value="${name}">${name}</option>
              </#list>
              </select>
            </label>
          </li>
        </ul>
      </fieldset>
    </section>
  </form>  
</div>
