# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore SBT output directories
**/target
**/.bsp

# Eclipse
bin
.classpath
.project
org.eclipse.jdt.core.prefs
**/.externalToolBuilders/

# Node
**/node_modules/
