# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directory
**/build

# Eclipse
**/bin
**/test-bin
**/.classpath
**/.project
**/.settings/
**/.externalToolBuilders/
**/.checkstyle
**/.eclipse-pmd
!_jdbld/.project
!_jdbld/.classpath
!_jdbld/.settings/
!_jdbld/.checkstyle
!_jdbld/.eclipse-pmd

# Others
.vscode
.recommenders/
**/node_modules/
/jdbld.log
